/*
 * Style grid for showcase purpose
 */

.tm-grid-truncate code {
    /* Truncate */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* Nedded */
    max-width: 80%;
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
}

.tm-icons > [class*="uk-width-"] {
    padding-bottom: 5px;
    padding-top: 5px;
}

/*
 * Generate different grid panel colors
 */

.tm-grid-colors > * > * { padding: 20px; }

.tm-grid-colors > :nth-child(8n-7) > * { background: rgba(130,200,240,0.1); }
.tm-grid-colors > :nth-child(8n-6) > * { background: rgba(130,200,240,0.15); }
.tm-grid-colors > :nth-child(8n-5) > * { background: rgba(130,200,240,0.2); }
.tm-grid-colors > :nth-child(8n-4) > * { background: rgba(130,200,240,0.25); }
.tm-grid-colors > :nth-child(8n-3) > * { background: rgba(130,200,240,0.3); }
.tm-grid-colors > :nth-child(8n-2) > * { background: rgba(130,200,240,0.35); }
.tm-grid-colors > :nth-child(8n-1) > * { background: rgba(130,200,240,0.40); }
.tm-grid-colors > :nth-child(8n) > * { background: rgba(130,200,240,0.45); }

/*
 * Generate different grid panel heights
 */

.tm-grid-heights > :nth-child(8n-7) > * { height: 80px; }
.tm-grid-heights > :nth-child(8n-6) > * { height: 100px; }
.tm-grid-heights > :nth-child(8n-5) > * { height: 160px; }
.tm-grid-heights > :nth-child(8n-4) > * { height: 120px; }
.tm-grid-heights > :nth-child(8n-3) > * { height: 180px; }
.tm-grid-heights > :nth-child(8n-2) > * { height: 130px; }
.tm-grid-heights > :nth-child(8n-1) > * { height: 150px; }
.tm-grid-heights > :nth-child(8n) > * { height: 110px; }

/*
 * Add a fixed height to grid items
 */

.tm-grid-height-250 > * > * { height: 250px; }

.mus-top-bar {
    background:rgba(0,0,0,0.9);
}
.mus-header-container {
    min-height:450px;
}
.mus-site-branding {
    font-family: 'isaacblack';
    font-size:40px;
    text-transform:uppercase;
    line-height:1.2em;
}
#block-musicians-branding a {
    color:white;
    line-height:1.2em;
}
#block-musicians-branding a:hover {
    color:#ddd;
    text-decoration:none;
}
#mus-header .uk-navbar {
    background-image:none;
    background:none transparent;
    border:0;
}
#mus-header .uk-navbar .uk-navbar-nav > li {
  
}
#mus-header .uk-navbar .uk-navbar-nav > li > a {
    color:#ddd;
    text-shadow:none;
}
#mus-header {
    background:url(../docs/images/guitarback.jpg) #2f313d;
    background-position:50% -43.89px;
    background-size: 1920px 1200px; 
    background-repeat: no-repeat; 
}

/*
 * Top Contact - Connections
 */

#block-topcontact-2 .content > div {
    line-height:40px;
}
#block-topcontact-2 i {
    margin-left:7px;
}


/*
 * Uikitty Login full-viewport
 */

body.uikitty-login {
    background:url(../img/rainbow-squares.jpg) #2f313d;
    background-size:cover;
}
.uikitty-loginback {
    background: #262731;
    padding:15px;
}
.uikitty-login .uk-breadcrumb {
   background:rgba(0,0,0,0.1);
}
.uikitty-login h1.page-title {
    margin-top:1em;
    color:rgba(255,255,255,0.5)
}

.uikitty-login .description {
    display:none;
}
.uikitty-login input {
    margin-bottom:1em;
}


/*
 * Musicians - Newsletter full width block
 */

#block-newsletterbar {
     background: #000;   
}
.mus-center-news-illustration {
	position:relative;
	height:130px;
}
.mus-center-news-illustration img {
	position:absolute;
	min-width:281px;
	height:211px;
	width:281px;
	bottom:0;
	left:-45px;
}



/*
 * Musicians - About - full width block
 */
.about-block h2 {
    margin-top:1.3em;
}


#block-musicians-page-title h1.page-title em {
    font-style:bold;
    color:#00AFF2;
}