{% extends "block.html.twig" %}
{#
/**
 * @file
 * Musicians's theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% set attributes = attributes.addClass('mus-site-branding uk-text-center uk-text-contrast') %}
{% block content %}
  {% if site_name or site_slogan %}
   
      {% if site_name %}
        
          <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="uk-margin-bottom">{{ site_name }}</a>
    
      {% endif %}
   
  {% endif %}
{% endblock %}
